In [1]:
import pandas as pd
import numpy as np

In [53]:
df = pd.read_csv('lap.csv')

In [25]:
b = list(a) + [1]*4

In [54]:
df.groupby('name').mean()

      Unnamed: 0   Win
name
Uri         13.5  0.65
Yosi         1.5  0.25