In [1]:
import pandas as pd
import numpy as np

In [ ]:
# creating a series

In [2]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [3]:
# date sereis 
dates = pd.date_range("20130101", periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [5]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df.head()

                   A         B         C         D
2013-01-01  0.779787 -1.055259 -1.362584  0.957233
2013-01-02 -1.155712 -0.414385 -1.007707  0.700084
2013-01-03 -2.335317 -0.378707  0.104875 -0.106725
2013-01-04  0.885183 -0.559287 -0.228076  1.909871
2013-01-05  1.190798  1.423284 -0.528620  0.345500

In [6]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [7]:
df.shape

(6, 4)

In [8]:
df.max()

A    1.190798
B    1.423284
C    0.104875
D    1.909871
dtype: float64

In [9]:
 df2 = pd.DataFrame(
   ...:     {
   ...:         "A": 1.0,
   ...:         "B": pd.Timestamp("20130102"),
   ...:         "C": pd.Series(1, index=list(range(4)), dtype="float32"),
   ...:         "D": np.array([3] * 4, dtype="int32"),
   ...:         "E": pd.Categorical(["test", "train", "test", "train"]),
   ...:         "F": "foo",
   ...:     }
   ...: )

In [10]:
df2.head()

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [ ]:
df2.tail(2)

In [11]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [12]:
len(df2)

4

In [13]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [14]:
df.to_numpy()

array([[ 0.77978738, -1.05525867, -1.36258431,  0.95723327],
       [-1.15571179, -0.41438506, -1.00770702,  0.70008433],
       [-2.33531702, -0.37870652,  0.10487497, -0.10672512],
       [ 0.885183  , -0.55928725, -0.22807648,  1.90987071],
       [ 1.19079772,  1.42328371, -0.5286203 ,  0.34549982],
       [ 0.27154735, -1.07239917, -0.55635407,  0.23797023]])

In [15]:
df2.to_numpy()

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [16]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.060619 -0.342792 -0.596411  0.673989
std    1.389293  0.917850  0.527230  0.709344
min   -2.335317 -1.072399 -1.362584 -0.106725
25%   -0.798897 -0.931266 -0.894869  0.264853
50%    0.525667 -0.486836 -0.542487  0.522792
75%    0.858834 -0.387626 -0.303212  0.892946
max    1.190798  1.423284  0.104875  1.909871

In [17]:
df.T # transpose

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    0.779787   -1.155712   -2.335317    0.885183    1.190798    0.271547
B   -1.055259   -0.414385   -0.378707   -0.559287    1.423284   -1.072399
C   -1.362584   -1.007707    0.104875   -0.228076   -0.528620   -0.556354
D    0.957233    0.700084   -0.106725    1.909871    0.345500    0.237970

In [18]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01  0.957233 -1.362584 -1.055259  0.779787
2013-01-02  0.700084 -1.007707 -0.414385 -1.155712
2013-01-03 -0.106725  0.104875 -0.378707 -2.335317
2013-01-04  1.909871 -0.228076 -0.559287  0.885183
2013-01-05  0.345500 -0.528620  1.423284  1.190798
2013-01-06  0.237970 -0.556354 -1.072399  0.271547

In [22]:
df.iloc[0]

A    0.779787
B   -1.055259
C   -1.362584
D    0.957233
Name: 2013-01-01 00:00:00, dtype: float64

In [29]:
df2.loc[2]

A                      1
B    2013-01-02 00:00:00
C                      1
D                      3
E                   test
F                    foo
Name: 2, dtype: object

In [19]:
df.to_csv('df.csv')

In [20]:
dff = pd.read_csv('df.csv')

In [21]:
dff

   Unnamed: 0         A         B         C         D
0  2013-01-01  0.779787 -1.055259 -1.362584  0.957233
1  2013-01-02 -1.155712 -0.414385 -1.007707  0.700084
2  2013-01-03 -2.335317 -0.378707  0.104875 -0.106725
3  2013-01-04  0.885183 -0.559287 -0.228076  1.909871
4  2013-01-05  1.190798  1.423284 -0.528620  0.345500
5  2013-01-06  0.271547 -1.072399 -0.556354  0.237970