In [10]:
import pandas as pd
import numpy as np

In [11]:
df = pd.DataFrame([[1]*4,
                    [np.nan, 2, np.nan, 0],
                   [3, 4, np.nan, 1],
                   [np.nan, np.nan, 1,np.nan],
                   [np.nan, 3, np.nan,1]],
                  columns=list('ABCD'))

In [12]:
df

     A    B    C    D
0  1.0  1.0  1.0  1.0
1  NaN  2.0  NaN  0.0
2  3.0  4.0  NaN  1.0
3  NaN  NaN  1.0  NaN
4  NaN  3.0  NaN  1.0

In [16]:
df.max()
df.fillna(df.max())

     A    B    C    D
0  1.0  1.0  1.0  1.0
1  3.0  2.0  1.0  0.0
2  3.0  4.0  1.0  1.0
3  3.0  4.0  1.0  1.0
4  3.0  3.0  1.0  1.0

In [13]:
pd.isnull(df)

       A      B      C      D
0  False  False  False  False
1   True  False   True  False
2  False  False   True  False
3   True   True  False   True
4   True  False   True  False

In [5]:
df.fillna(0)

     A    B    C    D
0  1.0  1.0  1.0  1.0
1  0.0  2.0  0.0  0.0
2  3.0  4.0  0.0  1.0
3  0.0  0.0  1.0  0.0
4  0.0  3.0  0.0  1.0

In [6]:
df.fillna(method='ffill')

     A    B    C    D
0  1.0  1.0  1.0  1.0
1  1.0  2.0  1.0  0.0
2  3.0  4.0  1.0  1.0
3  3.0  4.0  1.0  1.0
4  3.0  3.0  1.0  1.0

In [7]:
values = {'A': 0, 'B': 1, 'C': 2, 'D': 3}
df.fillna(value=values)

     A    B    C    D
0  1.0  1.0  1.0  1.0
1  0.0  2.0  2.0  0.0
2  3.0  4.0  2.0  1.0
3  0.0  1.0  1.0  3.0
4  0.0  3.0  2.0  1.0

In [24]:
values = {'A': np.max(df.A), 'B': np.min(df.B), 'C': np.mean(df.C), 'D': np.nanmedian(df.D)}
df.fillna(value=values)

     A    B    C    D
0  1.0  1.0  1.0  1.0
1  3.0  2.0  1.0  0.0
2  3.0  4.0  1.0  1.0
3  3.0  1.0  1.0  1.0
4  3.0  3.0  1.0  1.0

In [8]:
#Only replace the first NaN element.
df.fillna(value=values, limit=1)

     A    B    C    D
0  1.0  1.0  1.0  1.0
1  0.0  2.0  2.0  0.0
2  3.0  4.0  NaN  1.0
3  NaN  1.0  1.0  3.0
4  NaN  3.0  NaN  1.0

In [9]:
column_means = df.mean()
df.fillna(column_means)

     A    B    C     D
0  1.0  1.0  1.0  1.00
1  2.0  2.0  1.0  0.00
2  3.0  4.0  1.0  1.00
3  2.0  2.5  1.0  0.75
4  2.0  3.0  1.0  1.00

In [28]:
df.to_csv('missing.csv')

In [19]:
df

     A    B    C    D
0  1.0  1.0  1.0  1.0
1  NaN  2.0  NaN  0.0
2  3.0  4.0  NaN  1.0
3  NaN  NaN  1.0  NaN
4  NaN  3.0  NaN  1.0

In [17]:
pd.isnull(df).sum()

A    3
B    1
C    3
D    1
dtype: int64

In [18]:
pd.isnull(df).sum(axis=1)

0    0
1    2
2    1
3    3
4    2
dtype: int64

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       2 non-null      float64
 1   B       4 non-null      float64
 2   C       2 non-null      float64
 3   D       4 non-null      float64
dtypes: float64(4)
memory usage: 288.0 bytes