In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame()
df['name'] = ['Uri','Oran','Uri','Izhak',"Moshe"]
df['City'] = ['Haifa','TLV','TLV','Natanya',"Haifa"]
df

    name     City
0    Uri    Haifa
1   Oran      TLV
2    Uri      TLV
3  Izhak  Natanya
4  Moshe    Haifa

In [4]:
df['name'].apply(lambda x: x == 'Uri')

0     True
1    False
2     True
3    False
4    False
Name: name, dtype: bool