In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('df.csv')

In [5]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.060619 -0.342792 -0.596411  0.673989
std    1.389293  0.917850  0.527230  0.709344
min   -2.335317 -1.072399 -1.362584 -0.106725
25%   -0.798897 -0.931266 -0.894869  0.264853
50%    0.525667 -0.486836 -0.542487  0.522792
75%    0.858834 -0.387626 -0.303212  0.892946
max    1.190798  1.423284  0.104875  1.909871

In [8]:
df.shape

(6, 5)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  6 non-null      object
 1   A           6 non-null      float64
 2   B           6 non-null      float64
 3   C           6 non-null      float64
 4   D           6 non-null      float64
dtypes: float64(4), object(1)
memory usage: 368.0+ bytes