In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame()
df['name'] = ['Uri','Oran','Uri','Izhak',"Moshe"]
df['City'] = ['Haifa','TLV','TLV','Natanya',"Haifa"]
df

    name     City
0    Uri    Haifa
1   Oran      TLV
2    Uri      TLV
3  Izhak  Natanya
4  Moshe    Haifa

In [3]:
df['name'].apply(lambda x: x == 'Uri')

0     True
1    False
2     True
3    False
4    False
Name: name, dtype: bool

In [7]:
df['City'].apply(lambda y:y=='TLV')

0    False
1     True
2     True
3    False
4    False
Name: City, dtype: bool

In [8]:
pd.get_dummies(df)

,name_Izhak,name_Moshe,name_Oran,name_Uri,City_Haifa,City_Natanya,City_TLV
0,0,0,0,1,1,0,0
1,0,0,1,0,0,0,1
2,0,0,0,1,0,0,1
3,1,0,0,0,0,1,0
4,0,1,0,0,1,0,0